$mainColor: #009ff4;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorTopLink: #eb4d86;
$mainFont: Arial, Helvetica, sans-serif;


// setting btn //
$btnColor:#ffffff;
$btnBg:#74c241;
$btnRadius: 5px;
$btnPadding: 8px 27px;
$btnFs: 17px;
$btnWeight: bold;
$btnHoverBg: #6eb83e;


// setting language switch

$ls_fs: 17px;
$ls_color: #009ff4;